<button class="<%= @variant == 'secondary' ? 'bg-transparent border border-primary-700 text-primary-700' : 'bg-primary-700 text-white' %> px-3 py-2 text-sm font-medium rounded-lg"><%= @text %></button>

