<div class="h-[37px] justify-start items-start inline-flex">
  <div class="w-96 h-[37px] flex-col justify-start items-center gap-2 inline-flex">
    <div class="self-stretch px-4 py-2 bg-gray-50 rounded-tl-lg rounded-bl-lg border border-gray-300 justify-start items-center gap-2.5 inline-flex">
      <div class="h-[21px] justify-start items-center gap-2.5 flex">
        <div class="w-5 h-5 justify-center items-center flex"> <%= helpers.icon('search') %> </div>
        <div class="grow shrink basis-0 text-gray-500 text-sm font-normal leading-[21px]"> Search </div>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 bg-[#1a56db] rounded-tr-lg rounded-br-lg justify-center items-center gap-2 flex">
    <div class="text-white text-sm font-medium leading-[23px]"> Search </div>
  </div>
</div>
