<div class="w-full bg-white p-6 shadow rounded-lg flex flex-col space-y-4">
  <div class="flex items-center space-x-1">
    <span class="w-3 fill-gray-700"><%= icon('home') %></span>
    <p class="text-sm font-medium">Home</p>
    <%= icon('chevron-right') %>
    <p class="text-sm font-medium">Brands</p>
    <%= icon('chevron-right') %>
    <p class="text-sm font-medium text-gray-500">Editar Olga Ri</p>
  </div>
  <h1 class="text-2xl font-bold">Editar Olga Ri</h1>
</div>
