<div class="flex items-center justify-between bg-white p-4 border-b border-gray-200">
  <div class="flex space-x-3">
    <div class="h-8 w-8 bg-black rounded-full"></div>
    <p class="text-2xl font-semibold">Oval Admin</p>
  </div>
  <div class="flex items-center space-x-3">
    <%= icon('bell') %>
    <img src="https://s3-alpha-sig.figma.com/img/6281/2846/2e221bc302b703d92ca639192249cddb?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=omeEKiTMeFCKfA-QcHCKbJzfotkOogxgjIs2WNchtCZXyUFS1HaOwX9hwgu-Q~KJKcDMBnej-nK40mZlGI9R17GhX7KrSWphkagLSBJNIamz4h-C1MKj3I~EUBrLR5r5BbyOY3nQoEQCjEZUmHcZr-zZjJ3-5~eRgHbsn60jDV2d9HGNYoF58BdnJ8llpe2doaBSOFAhxO4RSUlu4TkSXEhujYRep4kkflKoO5G4mdOMEcOovg3ma71ODrzQa3RWg5aThqHLhU2~0BddkBP8iDq9XxlNiGN00q74jSFK1YFsitjD~O9t5WeAK9jsua6DHM9U7s2SjixiFM8WUDCf5w__" alt="Avatar" class="w-8 rounded-full">
  </div>
</div>
